* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    #000000,
    #030108,
    #0e0222,
    #030108,
    #000000
  );

  background-size: 400% 400%;
  animation: moverFundo 20s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

@keyframes moverFundo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-login {
  background: #16181f;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.07);
  border-radius: 18px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.destaque {
  color: #6c63ff;
  font-weight: 900;
  font-size: 1.3rem;
}

.logo {
  margin-bottom: 1.5rem;
}

#bemvindo {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
}

#subtitulo {
  color: #7a7d8a;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #7a7d8a;
  font-weight: 500;
  font-size: 1.1rem;
}

input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 1rem;
  padding: 15px;
  background: #1e2029;
  border: 2px solid rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  color: #d4d7df;
  overflow: visible;
  text-overflow: ellipsis;
  font-size: 20px;
}

input::placeholder {
  font-size: 20px;
}

button {
  width: 100%;
  padding: 15px;
  background: #6c63ff;
  border: 2px solid rgba(255, 255, 255, 0.07);
  border-radius: 40px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  margin-top: 2rem;
  transition: transform 0.5s ease;
}

button:hover {
  transform: translateY(-1px);
}

.dados-login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e2029;
  border: 2px solid rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  margin-top: 4rem;
  padding: 23px;
}
#dados-fic {
  color: #7a7d8a;
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 14px;
  color: #7a7d8a;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  margin-top: auto;
}
